.cherry-display-none{
	display: none;
}
.description.cherry-default-description{
	padding: 0 0 15px;
	margin: 0;
	font-style: normal;
	color: #777;
}
#default-sidebars{
	&:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}
#cherry-sidebars-wrap{
	margin-top: 10px;
	.sidebar-manager-name{
		h3{
			padding: 10px 0;
			margin: 0 10px 0 0;
		}
	}
}
#cherry-default-sidebars-title{
	h3{
		padding: 10px 0;
		margin: 12px 0 0 0;
	}
}
.sidebar-manager-name{
	cursor: pointer;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.sidebar-name-arrow{
		display: none;
		&:before{
			right: 12px;
			padding: 4px 6px 4px 4px;
			font: 400 20px/1 dashicons;
			speak: none;
			display: inline-block;
			padding: 8px 10px;
			top: 0;
			position: relative;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-decoration: none!important;
			content: '\f142';
		}
		&.closed-arrow{
			display: block;
			color: #777;
			&:before{
				content: '\f140';
			}
		}
	}
	&:hover{
		.sidebar-name-arrow{
			display: block;
		}
	}

}
.sidebars-holder.closed{
	display: none;
}
#create-new-sidebar-manager{
	form#cherry-sidebars-form{
		border-top: 1px solid #d4d5d6;
		.cherry-section{
			padding: 5px 10px;
			border: none;
			margin: 0;
			box-shadow: none;
			&.submit-wrapper{
				text-align: right;
			}
			.cherry-col-1{
				width:24%;
				label {
					margin: 11px 0 0 0;
				}
			}
			.cherry-col-2{
				input[type=text]{
					box-shadow: inset 0 0 0 0px #f1f1f1;
					&:-webkit-autofill{
						box-shadow: inset 0 0 0 50px #fff;
					}
				}
			}
		}
		button {
			position: relative;
			.text {
				transition: opacity .7s ease;
			}
			.loader-wrapper {
				position: absolute;
				top: 50%;
				left: 50%;
				transition: opacity .5s ease, transform .5s ease;
				transform: scale(0);

				opacity: 0;

				width: 20px;
				height: 20px;
				margin: -13px 0 0 -13px;
			}
			&[disabled] {
				cursor: default;
				pointer-events: none;
				.text {
					opacity: 0;
				}
				.cherry-loader-wrapper {
					transform: scale(1);
					opacity: 1;
				}
			}

		}
	}
}
.cherry-loader-wrapper {
	transform: scale(0);
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: opacity .5s ease, transform .5s ease;
	width: 20px;
	height: 20px;
	margin: -13px 0 0 -13px;
	&.show{
		transform: scale(1);
		opacity: 1;
	}
}
.cherry-loader {
	display: block;

	width: 20px;
	height: 20px;

	animation: spin .7s linear infinite;

	border: 3px solid #e1e1e1;
	border-top: 3px solid #3498DB;
	border-radius: 50%;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.cherry-ui-core input[type=text].error-invalid{
	box-shadow: inset 0px 0px 9px 0px #ff8181;
	transition: box-shadow 0.2 s ease-in-out;
}
.cherry-widgets-holder-wrap{
	position: relative;
	.cherry-delete-sidebar-manager{
		position: absolute;
		right: 48px;
		top: 0px;
		height: 35px;
		border: 1px solid #e5e5e5;
		border-top: none;
		padding: 14px 14px 0;
		color:#a0a5aa;
		z-index: 1;
		cursor: pointer;
		&:hover{
			color:red;
		}
	}
	.sidebar-name-arrow{
		border: 1px solid #e5e5e5;
		padding: 3px 5px 0px 3px;
		top: 0px;
		right: -9px;
		border-left: none;
		height: 46px;
		border-top: none;
	}
}
body.widgets_access{
	.sidebar-manager-name{
		cursor: default;
	}
	.sidebar-name-arrow{
		display: none !important;
	}
	.cherry-widgets-holder-wrap .cherry-delete-sidebar-manager{
		right: -1px;
	}
}
@-webkit-keyframes cherry-innerCircle {
	0% {
		-webkit-transform: rotate(o);
		transform: rotate(o);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes sk-innerCircle {
	0% {
		-webkit-transform: rotate(o);
		transform: rotate(o);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/*Style on post pages*/
.postbox .cherry-sidebar-select{
	border-top: none;
	padding: 0px;
	position: relative;
}
